header {
    background-color: lightpink;
    text-align: center;
    padding: 20px;

}

h1 {
    color: darkred;
    font-family: Arial, sans-serif;

}

nav ul {
    list-style-type: none;
    background-color: darkblue;
    overflow: hidden;
    padding: 0;

}

nav ul li {
    display: inline-block;
    margin-right: 10px;

}

nav ul li a {
    color: green;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;

}

nav ul li a:hover {
    background-color: #555;
}